{% extends 'base.html' %}

{% block title %}{{ research.title }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ research.title }}</h2>
    <p><strong>Department:</strong> {{ research.department }}</p>
    <p><strong>Authors:</strong>
        {% for author in research.authors.all %}
            {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <hr>
    <h4>Summary</h4>
    <p>{{ research.summary }}</p>

    {% if research.file %}
    <a href="{{ research.file.url }}" class="btn btn-success" target="_blank">Download File</a>
    {% endif %}
</div>
{% endblock %}
